.usersBlock{
  ul{
    margin: 10px 0 0 0;
    padding: 0;
    text-align: right;
    li{
      list-style: none;
      display: inline-block;
      text-transform: uppercase;
      font-family: 'Roboto';
      color: white;
      font-size: 15px;
      margin: 0 5px;
      i{
        color: #27aaf0;
      }
    }
  }
}
