.menuBackground{
  ul{
    margin: 15px 0 0 0;
    padding: 0;
    text-align: center;
    li{
      list-style: none;
      display: inline-block;
      text-transform: uppercase;
      color: white;
      font-size: 17px;
      font-family: 'Roboto';
      font-weight: 200;
      font-style: normal;
      cursor: pointer;
      margin: 0 8px;
      transition: all .4s;
    }
    li:hover,
    li:active{
      border: none;
      i{
        color: #ff3547;
        transition: all .4s;
      }
    }
  }
  .activeMnu{
    i{
      color: #ff3547;
      transition: all .4s;
    }
  }
}
